.DS_Store
*.suo
*.sdf
release
debug
object_script.*
*.user
*.cpad
deps
*.opensdf
qt_build
qt_deployment
vim.cmd
vim.sh
.vimrc
/Default/
*.swp
./deps/zlib/zconf.h
README.html
MINGW-*
GNULINUX-*
MACOS-*
build-EncryptPad-*
compile_commands.json
*.bak
cscope.files
cscope.out
bin
