.DS_Store
*.suo
*.sdf
release
debug
object_script.*
*.user
*.cpad
*.opensdf
qt_build
qt_deployment
vim.cmd
vim.sh
.vimrc
/Default/
*.swp
./deps/zlib/zconf.h
README.html
MINGW-*
GNULINUX-*
MACOS-*
build-EncryptPad-*
compile_commands.json
*.bak
cscope.files
cscope.out
bin
deps/botan
deps/famfamfam_icons
deps/gtest
deps/makefiles
deps/stlplus
deps/zlib
deps/libencryptmsg/deps
*~
Makefile
build/
compiler_options.txt
